<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <i class="fas fa-university"></i>
        <li><a class="nav-link active" href="/">Home</a></li>
        <li><a class="nav-link" href="/userDetails">User Details</a></li>
        <!-- <li><a class="nav-link" href="/transfer">Transfer Money</a></li> -->
      </ul>
    </nav>
    <h1>BANKING SYSTEM</h1>

    <footer>
      <div>&copy Banking System</div>
    </footer>
  </body>
</html>
